/* GLOBAL SECTION */

p{
    color: white;
}

.main-ctn{
    width: 623px;
    height: 310px;
    background-image: linear-gradient(45deg, #151521, #2a2779);
    border: outset;
    display: flex;
    flex-direction: column;
}

.green{
    color: #00D800;
}

/*HEADER SECTION */
#header{
    margin-bottom: 0;
    border-style: outset;
    height: 30px;
    display: flex;
    align-items: center;
}

#header p{
    color: white;
    font-weight: 800;
}


.headerImg{
    width: 42%;
}


#headerX{
    width: 23px;
    margin-left: 5px;
}

.button:hover{
    cursor: pointer;
}


/* MAIN SECTION */
#main{
    border-style: inset;
    margin: 5px auto;
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textarea{
    height: 10rem;
    width: 80%;
    
}