

/* MAIN SECTION */

#searchInputs {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#searchInputs button {
    margin-left: 5px;
}

input{
    background-color: black;
    border: inset;
    border-color: gray;
    width: 70%;
}

#mockImg{
    border:inset;
}

#searchOutput{
    background-color: black;
    height: 180px;
    width: 90%;
    margin: auto;
    border: inset;
    border-color: gray;
    

}

