@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');




#infoCtn{
    width: 95%;
    
    
    
    display: flex;
}

/* TIMER SECTION */


#timer{
    height: 130px;
    width: 250px;
    margin: 10px;
    border-style: inset;
    border-color: gray;
    background-image: url("./img/timer.jpg");
    font-family: 'Orbitron';
    text-align: right;
    font-size: 25px;
    
}

#timer h2{
    margin: 5px;
}

/* MUSIC INFO SECTION */

#musicName{
    background-color: black;
    width: 300px;
    border-style: inset;
    border-color: gray;
    margin-top: 10px;
}

#musicName p{
    height: 5px;
    display: flex;
    align-items: center;
}

#musicData{
    display: flex;
    align-items: center;
}

.numSquare{
    height: 22px;
    width: 40px;
    background-color: black;
    margin-right :10px ;
}

.numSquare p{
    margin: 0;
    text-align: right;
}

#numSquareLeft{
    margin-left: 10px;
}

#soundType{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.textBlur{
    text-shadow: 0 0 10px #00D800;
}

#orange{
    width: 100px;
}

#green{
    width: 70px;
}

.inputImg {
    width: 50px;
}

.inputImg:hover{
    cursor: pointer;
}

.inputRange{
    -webkit-appearance: none;
    margin-right: 5px;
    border-radius: 5px;
    border-style: inset;
    border-color: gray;
}

#orange{
    background: #C9731C;
    width: 100px;
    
}

#green{
    width: 70px;
    background: #19b608;
    
}

/* TIME SELECTOR */

#musicTimeSelector{
    display: flex;
    justify-content: center;
}

#timeSelector{
    background: rgba(211, 211, 211, 0.13);
    width: 95%;
    
}

/* BUTTONS */
#buttons{
    display: flex;
    margin-left: 5px;
}

#buttons img{
    height: 32px;
}

.marginImg{
    margin-left: 30px;
}